body {
    font-family: Arial, sans-serif;
}

#app {
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 5px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}
